<div class="container">
  <h2>Diamond Head</h2>

  <div>
    <h3>Conditions</h3>  
      <p> <%= @report.conditions_description %> </p>
  </div> 
  <div>
    <h3>Wave Height</h3>
    <p id="wave-height"> <%= @report.wave_height %> </p>
  </div>
</div>

<div id="map-canvas"/>

